*{
 font-family:  "Inter", sans-serif;
 margin: 0 auto ;
 padding: 0 ;
 box-sizing: border-box;

}
/* navbar design start  */
nav{
   background-color: #1A0B2E;
             max-width: 1600px;
             height: 92px;
             display: flex;
             margin: 0 auto;
             justify-content: space-between;
             align-items: center;
             
}

nav > p{
      color:white;
      font-size: 36px;
      padding: 100px;
      
      
}

 nav > span{
    margin-right: 5px;
    color:white;
    display: none;
    padding: 26px;
    font-size: 25px;
    
} 

.navbar{
    font-size: 16px;
    color:white;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    
    
    
    
}

 .btn{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: white;
    font-size: 16px;
    margin-right: 30px;
    padding: 12px 16px ;
    border-radius: 15px;
    border: none;
    cursor:pointer;
    transition: width 5s linear 3s;
    
} 
.btn:hover{
    width: 150px;
}
/* navbar design end  */

/* banner design start */

.banner{
    width: 100%;
    max-width: 1600px;
    height: 760px; 
}

.banner img{
    width: 100%;
}

.banner-circle img{
    position: relative;
    width: 370px;
    height: 370px; 
    display: block;
    margin-top: -650px;
    margin-left: 615px;
}

.badge-right{
    background-color: #00FF88;
    position: absolute;
    right: 0;
    margin-top: -320px;
    margin-right: 580px;
    border-radius: 10px;
    padding:10px;
    font-size: 18px;
    font-weight: 500;
}

.banner-microphone{
       position: relative;
       margin-top: -290px;
       margin-left: 740px;
}

.banner-container{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     margin-top: 150px;
     margin-right:-15px;
}


.banner-container h1{
             font-size: 60px;
             font-weight: 800;
             color:rgba(255,255,255,1);

             
}

.banner-container p{
           font-size: 16px;
           color: white;
}
.btn-container{
 width:356px;
 height:44px;
 background: transparent rgba(0,255,136,1);
 
}

.btn-secondary{
padding:12px 20px;
background-color: transparent;
border: 1px solid rgba(0, 255, 136, 1);
border-radius: 15px;
color:white;

}
/* banner design end  */

/* about section  start  */
.about-section{
    max-width: 1600px;
    height: 646px;
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
    color: rgba(255,255,255,1);

}

.about-section h1{
          font-size: 48px;
          font-weight: 700;
}

.about-section p{
          font-size: 16px;
}

.about-container{
         width: 1200px;
         height: 95px;
         display: flex;
         flex-direction: row;
         justify-content: space-around;
          align-items: center;
         margin-top: -260px ;
         color:white;
}
.about-container h2{
         font-size: 48px;
         color: #00FF88;
}

/* about section  end */

/* Why choose techwave design start */

#techwave-features{
    max-width: 1600px;
    height:1121px;
    background-color: rgba(35, 14, 61,1);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 120px 200px;
}

#techwave-features h1{
       font-size: 48px;
       font-weight: 700;
       color: white;
}

.card-container>*{
      border: 1px solid gold;
       padding: 25px;
}

      
      


.card1{
    width:380px;
    height:480px;
    background-color:rgba(53,17,101,0.4);
    color:white;
    padding: 40px;
    border-radius: 40px;

}

.card2{
    width: 790px;
    height: 225px;
    background-color:rgba(53,17,101,0.4);
    color:white;
    padding: 40px;
    border-radius: 40px;
}

.card3{
    width: 790px;
    height: 225px;
    background-color:rgba(53,17,101,0.4);
    color:white;
    padding: 40px;
    border-radius: 40px;
}

.card4{
     width: 790px;
    height: 225px;
     background-color:rgba(53,17,101,0.4);
    color:white;
    padding: 40px;
    border-radius: 40px;
}


.card5{
    width:380px;
    height:223px;
    background-color:rgba(53,17,101,0.4);
    color:white;
    padding: 40px;
    border-radius: 40px;
}


.card1{
    grid-area: card1;
}

.card2{
    grid-area: card2;
}

.card3{
    grid-area: card3;
}

.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}

.card-container{
      width: 1200px;
      height: 783px;
      display: grid;
      background-color: ;
      grid-template-areas: 
      "card1  card2 card2"
      "card1  card3 card3"
      "card4  card4 card5"
      ;
}
/* Why choose techwave design end */

/* feature card design start  */
#feature-episode{
       width: 1600px;
       height: 1277px;
       background-color: rgba(26,11,46,1);
        
       
    
}

#feature-episode h1{
           font-size: 48px;
           font-weight: 700;
           color:white;
           text-align: center;
           color: white;
           padding: 50px;
       
    
}

.episode-cards{
    width:1200px;
    height: 539px;
    color:white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.feature-card{
     width: 380px;
    height: 440px; 
    background-color: #250D44;
    border-radius: 10px;
    border: 1px solid gold; 
}
 /* feature card design start  */
 
 /* challnge part start  */
.host-container{
    width:1200px;
    height:280px;
    padding:40px;
    background-color: rgba(53,17,101,0.4);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 40px;
    gap: 24px;

}

.host-container h3{
            font-size: 32px;
            font-weight: 700;
            color:white;
}

.host-container p{
            font-size: 16px;
            font-weight: 400;
            color:white;
}

.socialicon-img{
   margin-left: 430px;
   margin-top: -80px;
   padding:20px;
   border-radius: 50%;
   object-fit: cover;
}
/* challnge part end  */

/* footer design start  */
.footer-container{
     margin-left: 80px;
     margin-top: -300px;
     display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.footer-container h1{
        font-size: 80px;
        font-weight: 700;
        color:white;
}

.footer-container i{
    color:white;
}

.footer-container h5{
          color:white;
}
/* Responsive design for small device */
@media screen and (max-width: 576px) {
                .navbar{
                    display: none;
                }
                    
                nav > span{
              display: block;
              font-size: 24px;
              
              
               }
                nav .btn{
                display: none;
               }

           
 }

 /* footer design end  */
  

  /* Responsive design for large device */

    @media screen  (min-width: 576px) and (max-width:1200px) {
                              
}


             

    

